doctype html
html(lang="en")
    include head.pug
    body 
        .main 
            .wallpaper
            .topbar
                .bars
                    .bar.logo-bar 
                        .content 
                            h1 Mochi!